.equipas-wrapper .select-tipo {
    display: flex;
    gap: .4rem;
    align-items: flex-end;

}

.equipas-wrapper .select-tipo button {
    border: none;
    background: none;
    cursor: pointer;
    transition: .1s;
    user-select: none;
    line-height: 1;

}

.equipas-wrapper .select-tipo button:hover {
    text-decoration: underline;
}

.equipas-wrapper .equipas {
    background-color: var(--gray-800-color);
    width: 100%;
    display: flex;
    flex-direction: column;

}

.equipas-wrapper .equipas>p {
    padding: .4rem 1rem;

}

.equipas-wrapper .equipas>div {
    padding: .4rem 1rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.equipas-wrapper .equipas>div.selected {
    background-color: var(--gray-600-color);
}

.equipas-wrapper .equipas>div:not(:last-child) {
    border-bottom: .12rem solid var(--gray-600-color);
}

.equipas-wrapper .equipas>div>a {
    display: flex;
    gap: .24rem;
    align-items: center;
    text-decoration: none;
    transition: .1s;
}

.equipas-wrapper .equipas>div.selected>a {
    cursor: default;
}

.equipas-wrapper .equipas>div:not(.selected)>a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.05rem;
    text-decoration-color: var(--gray-500-color);
}

.equipas-wrapper .equipas>div>a>p:first-child {
    padding: .24rem .4rem;
    background-color: var(--gray-700-color);

}

.equipas-wrapper .equipas>div button {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1;
}

.equipas-wrapper .equipas>div button span {
    color: var(--gray-500-color);
}

.equipas-wrapper .equipas>div button:hover span {
    color: var(--white-color);
}

.equipas-wrapper .equipas>div button:disabled {
    background-color: var(--red-color);
}


.equipas-wrapper .confirm-delete {
    background-color: var(--gray-800-color);
    display: flex;
    align-items: flex-end;
    gap: .4rem;
    flex-direction: column;
    padding: .4rem 1rem;
    border: .1rem solid var(--red-color);
}

.equipas-wrapper .confirm-delete p {
    width: 100%;
}

.equipas-wrapper .confirm-delete p span {
    text-decoration: underline;
}

.equipas-wrapper .confirm-delete button {
    border: none;
    padding: .64rem 1rem;
    cursor: pointer;
    transition: .1s;
}

.equipas-wrapper .confirm-delete .btn-voltar {
    background-color: var(--gray-900-color);
}

.equipas-wrapper .confirm-delete .btn-eliminar {
    margin-left: .4rem;
    background-color: var(--red-color);
    float: right;
}

.equipas-wrapper .confirm-delete .btn-voltar:hover {
    background-color: var(--gray-700-color);
}

.equipas-wrapper .confirm-delete .btn-eliminar:hover {
    background-color: var(--light-red-color);
}

.equipas-wrapper .confirm-delete .btn-eliminar:disabled,
.equipas-wrapper .confirm-delete .btn-voltar:disabled {
    background-color: var(--gray-600-color);
    cursor: not-allowed;
}

.equipas-wrapper .adicionar-equipa:not(.not-modal) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .4rem;
    flex-direction: row;
    transition: .5s;
    border: .1rem solid transparent;

}

.equipas-wrapper .adicionar-equipa.not-modal {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    flex-direction: column;
    height: fit-content;
    padding: .4rem 1rem;
    background-color: var(--gray-800-color);
}

.equipas-wrapper .adicionar-equipa.active {
    padding: .4rem 1rem;
    background-color: var(--gray-800-color);
    border-color: var(--gray-600-color);
}

.equipas-wrapper .adicionar-equipa.error {
    border-color: var(--red-color);
}

.equipas-wrapper .adicionar-equipa .btn-close {
    display: block;
    transition: .3s;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
}

.equipas-wrapper .adicionar-equipa.active .btn-close {
    visibility: visible;
    max-height: 6rem;
}

.equipas-wrapper .adicionar-equipa form {
    display: block;
    transition: .3s;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    flex: 1;

}

.equipas-wrapper .adicionar-equipa.active form,
.equipas-wrapper .adicionar-equipa.not-modal form {
    visibility: visible;
    max-height: 6rem;
}

.equipas-wrapper .adicionar-equipa.active form .inputs-container,
.equipas-wrapper .adicionar-equipa.not-modal form .inputs-container {
    display: flex;
    gap: .4rem;
    align-items: center;

}

.equipas-wrapper .adicionar-equipa.active form .inputs-container select,
.equipas-wrapper .adicionar-equipa.not-modal form .inputs-container select {
    padding: .4rem;
    border: none;
    border-radius: .2rem;
    background-color: var(--gray-900-color);
}

.equipas-wrapper .adicionar-equipa p.error {
    color: var(--red-color);
}

.equipas-wrapper .adicionar-equipa .btn-add {
    border: none;
    padding: .64rem 1rem;
    cursor: pointer;
    transition: .1s;
    background-color: transparent;
    height: fit-content;
    background-color: var(--gray-800-color);

}

.equipas-wrapper .adicionar-equipa.active .btn-add,
.equipas-wrapper .adicionar-equipa.not-modal .btn-add {
    background-color: var(--gray-900-color);

}

.equipas-wrapper .adicionar-equipa .btn-add:hover {
    background-color: var(--gray-600-color);
}

.equipas-wrapper .adicionar-equipa.active .btn-add:disabled,
.equipas-wrapper .adicionar-equipa.not-modal .btn-add:disabled {
    background-color: var(--gray-600-color);
    cursor: not-allowed;
}