/* Faz o footer fixar no final da página */
html, body {
  height: 100%; /* Garante que o conteúdo ocupe a altura total */
  margin: 0; /* Remove margens padrão */
  display: flex;
  flex-direction: column; /* Alinha conteúdo verticalmente */
}

#root {
  flex: 1; /* Garante que o conteúdo principal ocupe espaço */
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #000; /* Fundo preto */
  color: var(--white-color); /* Texto branco */
  text-align: center;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  position: relative; /* Normal para layout fixo */
  bottom: 0; /* Coloca no final */
  width: 100%; /* Garante que ocupe toda a largura */
  margin-top: auto; /* Empurra o footer para o final */
}
