/* Estilo do Footer */
.footer {
  background-color: #000;
  /* Fundo preto */
  color: var(--white-color);
  /* Texto branco */
  text-align: center;
  width: 100%;
  position: relative;
  /* Permite que o footer role com a página */
  height: 38dvh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Centralização do conteúdo do footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  /* Centraliza os links principais */
  gap: 100px;
  /* Espaçamento horizontal entre os links */
  padding: 20px 20%;
  height: 80%;
  align-items:center;
  position: relative;
  z-index: 2;
}

.footer-link {
  color: var(--white-color);
  /* Texto branco */
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  /* Letras maiúsculas */
  width: 100%;
}

.footer-link:hover {
  text-decoration: underline;
  /* Efeito ao passar o mouse */
}

/* Logo ao centro */
.footer-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) ;
  z-index: 0;
  /* Coloca o logo abaixo do texto */
  height: 80%;
opacity: .4;
}

.footer-logo img {
  height: 100%;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  /* Espaça o copyright e os ícones */
  align-items: center;
  padding: 20px 20%;
  /* Espaçamento horizontal interno */
  height: 20%;
  width: 100%;
}

.footer-bottom span {
  color: var(--white-color);
  font-size: 12px;
}

.social-icons {
  display: flex;
  gap: 10px;
  /* Espaçamento entre os ícones */
}

.social-icons a {
  color: var(--white-color);
  /* Cor dos ícones */
  font-size: 20px;
  /* Tamanho dos ícones */
}
  /* Responsividade para telas menores */
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      gap: 15px;
    }
  
    .footer-bottom {
      flex-direction: column;
      text-align: center;
    }
  }
