.navbar-back {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: .8rem;
    background-color: var(--gray-800-color);
    width: 100vw;
    position: fixed;
    z-index: 9999;
}

.navbar-back>*:not(:last-child) {
    padding: .6rem 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none;

}

.navbar-back>*:not(:last-child):hover {
    background-color: var(--gray-700-color);
}

.navbar-back>*:not(:last-child).selected {
    background-color: var(--accent-color);
    color: var(--gray-800-color);

}

.navbar-back>*:not(:last-child).selected>* {
    color: var(--gray-800-color);
}

.navbar-back>*:last-child {
    flex: 1;
    text-align: end;
}