/* Estilos para o carrossel */
.carousel-section {
    margin-top: 3rem;
    position: relative;
    width: 80%;
    margin: auto;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

.slick-prev:before, .slick-next:before {
    color: black;
}

.slick-dots li button:before {
    color: black;
}
