/* Estilos da Seção de Carrossel */
.carousel-section {
    margin-top: 3rem;
    padding: 0 2rem;
}

.carousel-item {
    position: relative;
    text-align: center;
}

.carousel-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.carousel-caption {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 1rem;
    border-radius: 10px;
}

.slick-prev, .slick-next {
    z-index: 1;
}
