.font-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.font-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.font-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.font-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.font-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.font-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.font-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.font-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.font-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.font-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

input::placeholder {
  color: var(--gray-500-color) !important;
}

.color-gray-500 {
  color: var(--gray-500-color) !important;
}

.bg-color-gray-800 {
  background-color: var(--gray-800-color) !important;
}

.rounded {
  border-radius: .8rem;
}

.rounded-pill {
  border-radius: 6000px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}

.text-secondary {
  color: var(--gray-500-color);
  font-size: var(--font-size-secondary);

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--gray-800-color);
  width: 100vw;
  position: fixed;
}

.navbar>*:not(:last-child) {
  padding: .6rem 1rem;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

}
.navbar>*:not(:last-child):hover {
  background-color: var(--gray-700-color);
}

.navbar>*:not(:last-child).selected {
  background-color: var(--accent-color);
  color: var(--gray-800-color);

}

.navbar>*:not(:last-child).selected>* {
  color: var(--gray-800-color);
}


.navbar>*:last-child {
  flex: 1;
  text-align: end;
}