.adicionar-jogo-wrapper {
    background-color: var(--gray-800-color);
    color: var(--white-color);
    display: flex; /* Ativa Flexbox */
    flex-direction: column; /* Mantém o layout em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
    width:100%;
    
}

.adicionar-jogo-wrapper .form {
    background-color: var(--gray-700-color);
    padding: 40px;
    border-radius: 8px;
    display: grid;
    gap: 30px;
    width: 200%; /* Faz com que o formulário ocupe 100% do contêiner */
    box-shadow: 0 4px 10px  var(--black-color);
    ; /* Adiciona sombra */
}

/* Título */
.adicionar-jogo-wrapper .page-title {
    font-size: 20px;
    margin: 20px 0  ;
    text-align: center;
    width: 100%; /* Alinha o texto na largura total */
}

/* Formulário */
.adicionar-jogo-wrapper .form {
    background-color: var(--gray-700-color);
    padding: 30px;
    border-radius: 8px;
    display: grid;
    gap: 30px;
    width: 500px; /* Define uma largura fixa */
    box-shadow: 0 4px 10px var(--black-color);
    ; /* Adiciona sombra */
}

.adicionar-jogo-wrapper .form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

.adicionar-jogo-wrapper .form-group label {
    font-weight: bold;
}

.adicionar-jogo-wrapper .form-group input,
.adicionar-jogo-wrapper .form-group select {
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--gray-800-color);
    color: var(--white-color);
    font-size: 14px;
}

.adicionar-jogo-wrapper .submit-button {
    background-color: var(--accent-color);
    color: var(--black-color);
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s ease;
}

.adicionar-jogo-wrapper .submit-button:hover {
    background-color: var(--accent-color);
}
