.containerRelConfir {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: transparent;
}

.atletasadicionar-input-groupRelConfir {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.atletasadicionar-input-groupRelConfir svg {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray-500-color);
}

.atletasadicionar-input-groupRelConfir input {
  flex: 1;
  padding: 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
}

.atletasadicionar-input-groupRelConfir input::placeholder {
  color: #aaa;
}

.campoRelConfir h4 {
  margin-bottom: 10px;
}

.opcoesRelConfir {
  display: flex;
  gap: 20px;
}

.opcoesRelConfir label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.adicionar-buttonRelConfir {
  width: 100%;
  padding: 12px;
  background-color: #ffca00;
  border: none;
  color: #000;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.adicionar-buttonRelConfir:hover {
  background-color: #e0b200;
}
