/* Container for the entire form */
.adicionar-jogo-wrapper {
  background-color: var(--gray-800-color);
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* Form container */
.form {
  display: grid;
  gap: 20px;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  background-color: transparent;
  border-radius: 8px;
}

/* Grouped inputs */
.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
}

/* Styling for input and select elements */
.form-group input,
.form-group select {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  background-color: var(--gray-800-color); /* Dark background */
  color: #fff;
  border-radius: 4px;
  border: 1px solid var(--gray-500-color); /* Light border */
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

/* Placeholder text style */
.form-group input::placeholder {
  color: #aaa;
}

/* Group for input icons */
.form-group .input-group {
  display: flex;
  align-items: center;
  position: relative;
}

/* Input icon styles */
.form-group .input-group svg {
  position: absolute;
  left: 10px;
  color: #aaa; /* Icon color */
  font-size: 18px;
}

/* Input field adjustment to make room for the icon */
.form-group .input-group input,
.form-group .input-group select {
  padding-left: 35px; /* Adjust for the icon */
}

/* Styling for the submit button */
.submit-button {
  width: 100%;
  padding: 12px 20px;
  background-color: #ffc107;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #e0a800; /* Darker yellow on hover */
}
