
/* Container for the entire form */
.atletasadicionar-container {
  width: 30%; 
  max-width: 500px; 
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
  padding-top: 80px; 
}

/* Each label + input set */
.atletasadicionar-form-group {
  margin-bottom: 0; 
  flex: 1; /* Make form groups share available space equally in a row */
}

/* Labels */
.atletasadicionar-label {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: block;
  font-size: 12px;
  color: #fff;
  margin-top: 20px;
  margin-bottom:8px;
}

/* Rows for fields. Use this even for single fields for consistency */
.atletasadicionar-form-row {
  display: flex;
  align-items: flex-start; /* Aligns the top of the fields */
  gap: 20px; /* Control vertical spacing here */
}

/* Input groups */
.atletasadicionar-input-group {
  display: flex;
  align-items: center;
  /* Remove margin-bottom here as well so the spacing is consistent and controlled by .atletasadicionar-form-row */
  margin-bottom: 0; 
}

/* Icons */
.atletasadicionar-input-group svg {
  background-color: #000; /* Black background */
  padding-top: 10px; 
  padding-bottom: 10px;         /* Add more padding to make the box larger */
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 39px;            /* Set a fixed width for the box */
  height: 39px;           /* Set a fixed height for the box */
  display: flex;          /* Ensures the SVG is centered inside the box */
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  border-right: 1px solid var(--gray-500-color);
}

/* Inputs and selects */
.atletasadicionar-input-group input,
.atletasadicionar-input-group select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--gray-800-color, #333);
  color: #fff;
  box-sizing: border-box;
}

/* Placeholder styling */
.atletasadicionar-input-group input::placeholder {
  color: #aaa;
}

/* Submit button */
.atletasadicionar-submit-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffc107;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
  margin-top: 30px; /* Space above the button */
}

.atletasadicionar-submit-button:hover {
  background-color: #e0a800;
}
