/* Geral */
.TituloEquipas {
  padding-bottom: 1rem;
}

/* Wrapper for search bar and button */
.searchbar-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem; 
  margin-bottom: 1.5rem;
}

/* Barra de busca */
.searchbar-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--gray-800-color);
  padding: 0.75rem 1rem;
  border-radius: 1.5rem;
  width: 300px; 
  height: 3rem; 
}

.searchbar-input {
  flex: 1;
  border: none;
  background: transparent;
  color: #fff;
  outline: none;
  font-size: 1rem;
}

.searchbar-icon {
  color: #888;
  cursor: pointer;
}

/* Adicionar Button */
.add-button {
  background-color: #ffcc00;
  border: none;
  color: #000;
  padding: 0 1rem; 
  border-radius: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  height: 3rem; 
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  width: 10rem;
}

.add-button:hover {
  background-color: #ffdb4d;
}

/* Tabela */
.custom-table {
  width: 100%;
  border-collapse: separate; 
  border-spacing: 0; 
  background-color: var(--gray-800-color);
  border-radius: 8px; 
  overflow: hidden;
  position: relative; 
}

/* Table Headers */
.custom-table th {
  background-color: var(--gray-800-color);
  font-weight: bold;
  border-right: none; 
  border-left: none; 
  padding: 0.5rem; 
  text-align: left; 
}

/* Round corners for top-left and top-right */
.custom-table th:first-child {
  border-top-left-radius: 8px; 
}

.custom-table th:last-child {
  border-top-right-radius: 8px; 
}

/* Round corners for bottom-left and bottom-right */
.custom-table tr:last-child td:first-child {
  border-bottom-left-radius: 8px; 
}

.custom-table tr:last-child td:last-child {
  border-bottom-right-radius: 8px; 
}

/* Remove borders on the external edges */
.custom-table th:first-child,
.custom-table td:first-child {
  border-left: none; 
}

.custom-table th:last-child,
.custom-table td:last-child {
  border-right: none; 
}

.custom-table tr:first-child th {
  border-top: none; 
}

.custom-table tr:last-child td {
  border-bottom: none; 
}

/* Align table rows (data cells) to the left */
.custom-table td {
  text-align: left; 
  padding: 0.5rem; 
  border: 1px solid #444;
  color: #fff;
  font-size: 0.9rem;
}

/* Action Column */
.action-column {
  display: flex;
  flex-direction: row; 
  gap: 0.5rem; 
}

/* Remover Button */
.action-button.remove {
  background: none;
  border: none;
  color: #ff0000;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/* Perfil Button */
.action-button.profile {
  background: none;
  border: none;
  color: #ffffff;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

/* Even and Odd Row Colors */
.custom-table tr:nth-child(even) {
  background-color: var(--gray-700-color); 
}

.custom-table tr:nth-child(odd) {
  background-color: var(--gray-800-color); 
}
