.AtletaAdicionar-form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 500px;
    margin: 20px auto;
  }
  
  .AtletaAdicionar-form-group {
    margin-bottom: 15px;
  }
  
  .AtletaAdicionar-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .AtletaAdicionar-form-group input,
  .AtletaAdicionar-form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .AtletaAdicionar-add-button {
    background-color: #ff0;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .AtletaAdicionar-add-button:hover {
    background-color: #f5c900;
  }
  