.privacidade-pagecontact {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #333; /* Fundo escuro para contraste */
}

.academico-viseu-sectioncontact {
    position: relative;
    overflow: hidden;
}

.academico-viseu-sectioncontact img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
}

.header-overlaycontact {
    position: absolute;
    bottom: 50px; 
    left: 60px;
    color: white;
    display: flex;
    align-items: center;
}

.vertical-linecontact {
    width: 4px;
    background-color: #fbbd08;
    position: relative;
}

.contentcontact {
    padding: 60px;
}

.sectioncontact {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    color: white; 
    position: relative;
}

.section-contentcontact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 20px; 
}

.section-headercontact {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.section-headercontact .iconcontact {
    font-size: 28px;
    color: white;
    margin-right: 15px;
}

.sectioncontact::before {
    content: "";
    width: 4px;
    background-color: #fbbd08;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
