.privacidade-page {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #333; /* Fundo escuro para contraste */
}

.academico-viseu-section {
    position: relative;
    overflow: hidden;
}

.academico-viseu-section img {
    width: 100%;
    height: 400px; 
    object-fit: cover;
}

.header-overlay {
    position: absolute;
    bottom: 50px; 
    left: 60px;
    color: white;
    display: flex;
    align-items: center;
}

.vertical-line {
    width: 4px;
    background-color: #fbbd08;
    position: relative;
}

.content {
    padding: 60px;
}

.section {
    display: flex;
    align-items: flex-start;
    margin-bottom: 60px;
    color: white; 
    position: relative;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
    padding-left: 20px; 
}

.section-header {
    display: flex;
    align-items: center;
    margin-bottom: 15px; 
}

.section-header .icon {
    font-size: 28px;
    color: white;
    margin-right: 15px;
}

.section::before {
    content: "";
    width: 4px;
    background-color: #fbbd08;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}
