/* Dashboard Container */
.dashboard {
  display: flex; /* Flex layout for sidebar and content */
 flex-grow: 1;
  padding: 0.5%;
  gap: 0.5%;
}

/* Sidebar Styling */
.dashboard .sidebar {
  min-width: 30%; /* Fixed width for the sidebar */
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align items to the top */
  background-color: #222; /* Dark background */
  border-radius: 8px;
  color: #fff;
}

.dashboard .button {
  background-color: #ffcc00;
  color: #000;
  border: none;
  padding-left: 10px;
  padding: 5%;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 4px;
  text-align: left;
  min-width: 90%;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
}

.dashboard .sidebar h2 {
  margin-bottom: 15px;
}

.dashboard .sidebar .button:hover {
  background-color: #e6b800;
}

/* Games Section */
.dashboard .games {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  min-width: 30%;
}

.dashboard .games h2 {
  margin-bottom: 15px;
}

.dashboard .game-clubs {
  font-weight: bold;  
  max-width: 33%;
  padding: 1%;
}

.dashboard .game-details {
  font-size: small;
  padding:1%;
  text-align: center;
  max-width: 33%;
}

.dashboard .game-coaches {
  padding:1%;
  text-align: center;
  max-width: 33%;
} 

.dashboard .game-card {
  display: flex;
  background-color: #333;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.dashboard .game-card .pending {
  border: 2px solid #ffcc00;
}

/* Stats Section */
.dashboard .statsContainer {
  min-width: 30%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr;
  grid-gap: 10px;
  
}

.dashboard .stat{
  background-color: #222;
  padding: 15px;
  border-radius: 8px;
  color: #fff;
}

.dashboard .athletes{
  grid-column: 1;
  grid-row: 1; 
}

.dashboard .reports{
  grid-column: 2;
  grid-row: 1; 
}

.dashboard .proprias{
  grid-column: 1;
  grid-row: 2; 
}

.dashboard .proprias .p{
font-size: 0.1em;
}

.dashboard .sombra{
  grid-column: 2;
  grid-row: 2; 
}

.dashboard .teams-content {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  gap: 1px;
  font-size: small;
}

.dashboard .teams-content div {
  display: flex; /* Flex layout for each row */
  justify-content: space-between; /* Push items to the left and right */
}

.dashboard .teams-content div span:first-child {
  text-align: left; /* Align the escalao (left by default) */
}

.dashboard .teams-content div span:last-child {
  text-align: right; /* Align the number of players */
}

.dashboard .stat p {
  margin-bottom: 3%;
}
.dashboard .stat h3 {
  margin-bottom: 10px;
}

.dashboard .athletes-card {
  background-color: #222; /* Dark background */
  color: #fff; /* White text */
  padding: 20px;
  border-radius: 10px;
  font-family: Arial, sans-serif;
}

.dashboard .athletes-card h3 {
  margin: 0;
  font-size: 1em;
  margin-bottom: 20px;
  font-weight: bold;
}

.dashboard .athletes-content {
  display: flex;
  justify-content: space-between;
}

.dashboard .ratings,
.dashboard .ages {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.dashboard .ratings div,
.dashboard .ages div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard .ratings span:first-child,
.dashboard .ages span:first-child {
  font-weight: bold;
  margin-right: 10px;
}

.dashboard .ages p {
  font-size: 0.9em;
  font-weight: bold;
  text-align: right;
  margin: 0;
  margin-bottom: 10px;
}

.dashboard .total-athletes {
  margin-top: 20px;
  font-size: 1em;
  text-align: right;
  font-weight: bold;
}

.dashboard .numeroReports {
  font-size: x-large;
  font-weight: bold;
}

.dashboard .athletes-content{
  font-size: 0.8em;
}
