.equipas-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    flex: 1;
    padding: 1rem 2rem;
}

.equipas-wrapper .sidebar {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipas-wrapper .sidebar .field-options {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-bottom: 1rem;
}

.equipas-wrapper .sidebar .field-options>*:first-child {
    flex: 1;
}

.equipas-wrapper .sidebar .field-wrapper {
    flex: 1;
    width: 100%;
    display: flex;
}

.equipas-wrapper .sidebar .football-field {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-bottom: .5rem;
    gap: 1rem;
    margin: auto;
    position: relative;

}

.equipas-wrapper .football-field>*:not(.field-lines) {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    gap: 1rem;
    z-index: 2;

}

.equipas-wrapper .football-field .field-lines {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

}

.equipas-wrapper .football-field .field-lines .center-circle {
    border: 0.08rem solid var(--gray-600-color);
    position: absolute;
    width: 6rem;
    display: block;
    aspect-ratio: 1/1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.equipas-wrapper .football-field .field-lines .center-line {
    border-bottom: 0.08rem solid var(--gray-600-color);
    position: absolute;
    height: 50%;
    display: block;
    width: 100%;
}

.equipas-wrapper .football-field .field-lines .goal-area-top {
    border: 0.08rem solid var(--gray-600-color);
    position: absolute;
    height: 8rem;
    display: block;
    width: 80%;
    left: 10%;
}

.equipas-wrapper .football-field .field-lines .goal-area-bottom {
    border: 0.08rem solid var(--gray-600-color);
    position: absolute;
    height: 8rem;
    display: block;
    width: 80%;
    left: 10%;
    bottom: 0;
}

.equipas-wrapper .football-field .field-lines .mini-goal-area-top {
    border: 0.08rem solid var(--gray-600-color);
    position: absolute;
    height: 3rem;
    display: block;
    width: 40%;
    left: 30%;
}

.equipas-wrapper .football-field .field-lines .mini-goal-area-bottom {
    border: 0.08rem solid var(--gray-600-color);
    position: absolute;
    height: 3rem;
    display: block;
    width: 40%;
    left: 30%;
    bottom: 0;
}

.equipas-wrapper .football-field>*>.player {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.equipas-wrapper .football-field>*>.player .rating {
    padding: .2rem .5rem;
    background-color: var(--black-color);
    border-radius: 9999px;
    width: fit-content;
}

@media (max-aspect-ratio: 1.7 / 1) {
    .equipas-wrapper {
        flex-direction: column;
    }

    .equipas-wrapper .sidebar {
        width: 100%;
    }

    .equipas-wrapper .sidebar .football-field {
        width: 60vw;
        height: 90vh;
    }
}

@media (max-aspect-ratio: 1.7 / 1) and (max-width: 768px) {
    .equipas-wrapper .sidebar .football-field {
        width: 80vw;
        height: 90vh;
    }
}

.equipas-wrapper .content {
    flex: 2.7;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.equipas-wrapper .table-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.equipas-wrapper .table-options>*:first-child {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
}

.equipas-wrapper .searchbar {
    display: flex;
    padding: 0 1rem;
    width: clamp(10rem, 80%, 22rem);
    justify-content: space-between;
    align-items: center;
}

.equipas-wrapper .searchbar:focus-within {
    outline: 0.08rem solid var(--gray-600-color);
}

.equipas-wrapper .searchbar input {
    border: 0;
    background-color: transparent;
    padding: 1rem;
    flex: 1;
}

.equipas-wrapper .searchbar input:focus {
    outline: 0;
}


.equipas-wrapper .searchbar .icon {
    color: var(--gray-500-color);
}

.equipas-wrapper .filter-button {
    transition: .1s;
    background: none;
    border: none;
    padding: 0 1rem;
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    text-decoration-thickness: 0.05rem;
    /* Make the underline thinner */
    cursor: pointer;
    font-size: var(--font-size-regular);
}

.equipas-wrapper .filter-button:hover {
    background-color: var(--gray-600-color);
}

.equipas-wrapper .content table {
    border-collapse: collapse;
    width: 100%;
}

.equipas-wrapper .content th,
.equipas-wrapper .content td {
    border: 0.08rem solid var(--gray-600-color);
    padding: 0.5rem;
}

.equipas-wrapper .content thead th {
    border: none;
}

.equipas-wrapper .content th {
    text-align: center;
}

.equipas-wrapper .content table .left-align {
    text-align: left;
}

.equipas-wrapper .content table .center-align {
    text-align: center;
}

.equipas-wrapper .content table .right-align {
    text-align: right;
}

.equipas-wrapper .content table tr:last-child td {
    border-bottom: none;
}

.equipas-wrapper .content table td:first-child {
    border-left: none;
}

.equipas-wrapper .content table td:last-child,
.equipas-wrapper .content table td:last-child {
    border-right: none;
}

.equipas-wrapper .radio-buttons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;

}

.equipas-wrapper .radio-buttons>* {
    cursor: pointer;
}

.equipas-wrapper .radio-input {
    width: 1.6rem;
    height: 1.6rem;
    background-color: transparent;
    border: 0.16rem solid var(--gray-600-color);
    border-radius: 50%;
    appearance: none;
    position: relative;
    transition: .1s;


}

.equipas-wrapper .radio-input:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: .8rem;
    height: .8rem;
    background-color: var(--white-color);
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.equipa-switch .switch {
    position: relative;
    display: inline-block;
    width: 2.8rem;
    height: 1.6rem;
}

.equipa-switch .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.equipa-switch .switch-label {
    margin-right: 1rem;
    vertical-align: middle;
}

.equipa-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-600-color);
    transition: .4s;
    border-radius: 2rem;
}

.equipa-switch .slider:before {
    position: absolute;
    content: "";
    height: 1.2rem;
    width: 1.2rem;
    left: .2rem;
    bottom: .2rem;
    background-color: var(--white-color);
    transition: .4s;
    border-radius: 50%;
}

.equipa-switch input:checked+.slider {
    background-color: var(--accent-color);
}

.equipa-switch input:checked+.slider:before {
    transform: translateX(1.2rem);
}

.dropdown-container {
    position: relative;
    display: inline-block;
    flex: 1;
}

.dropdown {
    width: 100%;
    padding: 1rem 1rem;
    height: 100%;
    border: none;
    border-radius: .2rem;
    background-color: var(--gray-800-color);
    color: var(--white-color);
    cursor: pointer;
    appearance: none;
}

.dropdown>option {
    background-color: var(--gray-800-color);
}

.dropdown:focus {
    outline: 0.08rem solid var(--gray-600-color);
}

.table-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.table-wrapper {
    flex: 1;
}

.table-container .filters-container {
    background-color: var(--gray-700-color);
    position: absolute;
    height: 100%;
    overflow-y: scroll;
}

.table-container .filters-container .filters {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    height: 100%;
    margin: auto;
}

.table-container .filters-container .filters>* {
    width: 100%;
    height: 100%;
}

.table-container .filters-container .filters .filters-head {
    display: flex;
    justify-content: space-between;

}

.table-container .filters-container .filters .rating-minimo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.table-container .filters-container .filters .rating-minimo .star-rating {
    font-size: 1.2rem;
}

.table-container .filters-container .filters .rating-minimo .star-rating>* {
    cursor: pointer;
}

.table-container .filters-container .filters hr {
    border: 0;
    border-bottom: 0.08rem solid var(--gray-600-color);
    flex-grow: 1;
    transform: translateY(-50%);
}

.table-container .filters-container .filters .rating-medio-minimo {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.table-container .filters-container .filters input,
.table-container .filters-container .filters select {
    width: 6rem;
    padding: 1rem 1rem;
    height: 100%;
    border: none;
    border-radius: .2rem;
    background-color: var(--gray-800-color);
    color: var(--white-color);
    cursor: pointer;
    appearance: none;
}

.table-container .filters-container .filters .ano-nascimento label,
.table-container .filters-container .filters .escalao label {
    display: block;
    margin-bottom: .8rem;
}

.table-container .filters-container .filters .ano-nascimento>div,
.table-container .filters-container .filters .escalao>div {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.table-container .filters-container .filters .clube,
.table-container .filters-container .filters .nacionalidade {
    display: flex;
    gap: .8rem;
    flex-direction: column;
}

.table-container .filters-container .filters .clube select,
.table-container .filters-container .filters .nacionalidade select {
    width: 100%;
}

.table-container .filters-container .filters .submit-button {
    background-color: var(--accent-color);
    padding: .8rem 0;
    color: var(--gray-800-color);
    border: 0;
    font-weight: bold;
    transition: .1s;
    cursor: pointer;

}

.table-container .filters-container .filters .submit-button:hover {
    background-color: var(--light-accent-color);
}

.hidden {
    display: none;
}