.login-container {
  padding: 1rem 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}

.login-container>div {
  padding: 1rem 2rem;
  width: fit-content;
  height: fit-content;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  width: clamp(20rem, 50%, 40rem);
}
.login-container>div h1{
  text-transform: uppercase;
}

.forgot-password{
  float: right;
  padding: .64rem 0;
  width: fit-content;
  background: transparent;
  border: none;
  text-decoration: underline;
}

.login-form-group {
  flex: 1; 
}

/* Labels */
.login-label {
  display: block;
  margin-top: 1rem;
  margin-bottom: .4rem;
}

/* Input groups */
.login-input-group {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  border-radius: .2rem;

  
}
.login-input-group.error{
  outline: .1rem solid red;
}
.login-form-group .error-message{
  color:red;
  margin-top: .2rem;

}
/* Icons */
.login-input-group svg {
  background-color: var(--gray-900-color);
  fill: var(--gray-500-color);
  padding: .64rem 0; 
  border-top-left-radius: .2rem;
  border-bottom-left-radius:.2rem;
  width: 40px; 
  height: 40px; 
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 0px;
  border-right: 1px solid var(--gray-500-color);
}

/* Inputs and selects */
.login-input-group input,
.login-input-group select {
  width: 100%;
  padding: .64rem;
  border: none;
  border-radius: .2rem;
  background-color: var(--gray-800-color);
  
}

/* Placeholder styling */
.login-input-group input::placeholder {
  color:var(--gray-500-color);
}

/* Submit button */
.login-submit-button {
  display: block;
  width: 100%;
  padding: 1rem;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  margin-top: 3.6rem;
  transition: .1s;
  color: var(--gray-800-color);
  font-size: 1rem;
}
.login-submit-button:disabled{
  background-color: var(--gray-500-color);
  cursor:not-allowed;
}
.login-submit-button:hover:not(:disabled) {
  background-color: var(--light-accent-color);
}
