.privacidade-pagepriv {
    font-family: Arial, sans-serif;
    color: #333;
}

.academico-viseu-sectionpriv {
    position: relative;
    overflow: hidden;
}

.academico-viseu-sectionpriv img {
    width: 100%;
    height: 400px; /* Altura da imagem */
    object-fit: cover;
}

.header-overlaypriv {
    position: absolute;
    bottom: 50px; /* conteúdo dentro da imagem */
    left: 60px;
    color: white;
    display: flex;
    align-items: center;
}

.vertical-linepriv {
    width: 4px;
    height: 60px; /* Altura da linha vertical */
    background-color: #fbbd08;
    margin-right: 10px;
}

.contentpriv {
    margin-right: 60px;
    margin-left: 60px;
}

.sectionpriv {
    margin-bottom: 60px;
    color: white; /* Cor do texto branco para contraste */
}

.section-headerpriv {
    display: flex;
    align-items: center;
}

.section-titlepriv img.iconpriv {
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    margin-right: 25px;
}

.sectionpriv h1, .sectionpriv h2 {
    color: white;
    margin-bottom: 10px;
}

.sectionpriv h2 {
    font-size: 1.5rem;
    margin: 0;
    display: inline-block;
}

.yellow-linepriv {
    border: none;
    height: 4px;
    background-color: #fbbd08;
    margin-top: 10px;
}

.sectionpriv ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.sectionpriv ul li {
    margin-bottom: 5px;
}

.sectionpriv p {
    margin: 10px 0;
}
