.containerRelConfir {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

.containerRelConfir .input-iconRelConfir {
  display: flex;
  align-items: center;
}

.containerRelConfir .atletasadicionar-input-groupRelConfir {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.containerRelConfir .atletasadicionar-input-groupRelConfir svg {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray-500-color);
}

.containerRelConfir .atletasadicionar-input-groupRelConfir input,
.containerRelConfir .atletasadicionar-input-groupRelConfir select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--gray-800-color, #898989);
  box-sizing: border-box;
}

.containerRelConfir .atletasadicionar-input-groupRelConfir input::placeholder {
  color: #ffffff;
}

.containerRelConfir .contentRelConfir {
  padding-top: 80px;  
}

.containerRelConfir .campoRelConfir {
  margin-bottom: 30px; /* espaço entre as opções */
}

.containerRelConfir .opcoesRelConfir {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.containerRelConfir .avaliacao-containerRelConfir .opcoesRelConfir {
  margin-top: 12px; /* Aumenta o espaço entre subtítulo e bolas */
  display: flex;
  gap: 35px; /* Aumenta o espaço entre as bolas */
  flex-wrap: wrap;
}

.containerRelConfir .bola-containerRelConfir {
  display: flex;
  align-items: center;
  gap: 10px;
}

.containerRelConfir .bolaRelConfir {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #5F5F5F;
  cursor: pointer;
}

.containerRelConfir .bolaRelConfir.selecionada {
  background-color: #5F5F5F;
}

.containerRelConfir .numeroRelConfir, .textoRelConfir {
  font-size: 14px;
}

.containerRelConfir .textareaRelConfir {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #5F5F5F;
  color: white;
  margin-top: 10px;
}

.containerRelConfir .textareaRelConfir::placeholder {
  color: white;
}

/* Estilo do contêiner "Atleta" + "Validar >" lado a lado */
.atleta-containerRelConfir {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Garante que o "Atleta" e o botão fiquem nas extremidades */
}

/* Estilo do botão "Validar >" ao lado do subtítulo "Atleta" */
.validar-buttonRelConfir {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px; /* Espaçamento entre o subtítulo e o botão */
  cursor: pointer;
}

.validar-buttonRelConfir:hover {
  text-decoration: underline;
}

/* Bloquear os campos de input, textarea e selects */
.containerRelConfir input[disabled],.containerRelConfir  textarea[disabled],.containerRelConfir  select[disabled] {
  background-color: #5F5F5F; /* Altere a cor para um tom mais claro, indicando que está desabilitado */
  cursor: not-allowed; /* Muda o cursor para indicar que o campo está bloqueado */
}

/* Bloquear os botões */
.containerRelConfir button[disabled],.containerRelConfir .validar-buttonRelConfir[disabled] {
  background-color: #5F5F5F; /* Altere a cor para um tom mais claro */
  cursor: not-allowed;
  pointer-events: none; /* Impede a interação com o botão */
}

