/* Estilos gerais */
.reports-container {
  padding: 20px;
  padding-top: 80px; /* Adjust if needed */
  width: 100%;
}

/* Title */
.reports-title {
  font-size: 32px;
  color: var(--white-color);
  margin-bottom: 20px;
}

/* Toolbar */
.reports-toolbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* Search Container */
.reports-search-container {
  position: relative;
  width: 100%;
  max-width: 400px; /* Optional max width */
}

/* Search Input */
.reports-search-input {
  width: 100%;
  padding: 15px 40px 15px 15px; /* Increased vertical padding */
  border: 1px solid var(--gray-700-color);
  background-color: var(--gray-800-color);
  color: var(--white-color);
  border-radius: 9999px;
  box-sizing: border-box;
}

/* Search Button (Icon) */
.reports-search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--white-color);
  font-size: 24px;
  padding: 0;
}

/* "Adicionar" Button */
.reports-add-button {
  margin-left: 20px;
  padding: 15px 30px; /* Increased vertical padding */
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  border-radius: 9999px;
  font-weight: bold;
  color: var(--black-color);
  transition: 0.3s;
}

.reports-add-button:hover {
  background-color: var(--light-accent-color);
}

/* Tabela */
.reports-table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--gray-800-color);
  border-radius: 8px;
}

.reports-table thead th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid var(--gray-700-color);
  color: var(--white-color);
  background-color: var(--gray-900-color);
}

.reports-table tbody td {
  padding: 10px;
  border-bottom: 1px solid var(--gray-700-color);
  color: var(--white-color);
}

.reports-status-true {
  color: var(--green-color);
}

.reports-status-false span {
  color: orange !important;
}

/* Botões de ações */
.reports-actions-button {
  color: var(--white-color);
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
}

.reports-actions-button:hover {
  text-decoration: underline;
}

.reports-actions-transfer {
  color: var(--blue-color);
}

.reports-actions-remove {
  color: var(--red-color);
}

/* Efeito de hover nas linhas da tabela */
.reports-table tbody tr:hover {
  background-color: var(--gray-700-color);
  border-radius: 8px;
}
