body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

.containeradic {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

.input-iconadic {
  display: flex;
  align-items: center;
}

.input-iconadic .icon {
  margin-right: 8px;
  color: #fff;
}

.atletasadicionar-input-groupadic {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.atletasadicionar-input-groupadic svg {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray-500-color);
}

.atletasadicionar-input-groupadic input,
.atletasadicionar-input-groupadic select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--gray-800-color, #333);
  box-sizing: border-box;
}

.atletasadicionar-input-groupadic input::placeholder {
  color: #ffffff;
}

.contentadic {
  padding-top: 80px;  
}

.campoadic {
  margin-bottom: 30px; /* espaço entre as opções */
}

.opcoesadic {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.avaliacao-containeradic .opcoesadic {
  margin-top: 12px; /* Aumenta o espaço entre subtítulo e bolas */
  display: flex;
  gap: 35px; /* Aumenta o espaço entre as bolas */
  flex-wrap: wrap;
}

.bola-containeradic {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bolaadic {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.bolaadic.selecionada {
  background-color: white;
}

.numeroadic, .textoadic {
  font-size: 14px;
}

textareaadic {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #1c1c1c;
  color: white;
  margin-top: 10px;
}

textareaadic::placeholder {
  color: white;
}
