body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

.containerval {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

h2 {
  color: #fff;
  margin-bottom: 20px;
}

.form-groupval {     /*espaço entre as caixas de texto*/
  margin-bottom: 20px;
}

.form-rowval {
  display: flex;
  justify-content: space-between;
}

.form-rowval .form-groupval {
  flex: 1;
  margin-right: 15px;
}

.form-rowval .form-groupval:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}

.input-iconval {
  display: flex;
  align-items: center;
}

.input-iconval .icon {
  margin-right: 8px;
  color: #fff;
}

.atletasadicionar-input-groupval {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.atletasadicionar-input-groupval svg {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray-500-color);
}

.atletasadicionar-input-groupval input,
.atletasadicionar-input-groupval select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--gray-800-color, #333);
  box-sizing: border-box;
}

.atletasadicionar-input-groupval input::placeholder {
  color: #ffffff;
}

.btnval {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ffc107;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #000;
  cursor: pointer;
}

.btnval:hover {
  background-color: #e0a800;
}

.lineval {
  border-top: 1px solid #fff;
  margin: 20px 0;
}

.contentval {
  padding-top: 80px;
}
