body {
  font-family: Arial, sans-serif;
  background-color: #1c1c1c;
  color: #fff;
}

.containerRelConfir {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 8px;
}

.input-iconRelConfir {
  display: flex;
  align-items: center;
}

.input-iconRelConfir .icon {
  margin-right: 8px;
  color: #fff;
}

.atletasadicionar-input-groupRelConfir {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.atletasadicionar-input-groupRelConfir svg {
  background-color: #000;
  padding: 10px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 39px;
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid var(--gray-500-color);
}

.atletasadicionar-input-groupRelConfir input,
.atletasadicionar-input-groupRelConfir select {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--gray-800-color, #333);
  box-sizing: border-box;
}

.atletasadicionar-input-groupRelConfir input::placeholder {
  color: #ffffff;
}

.contentRelConfir {
  padding-top: 80px;  
}

.campoRelConfir {
  margin-bottom: 30px; /* espaço entre as opções */
}

.opcoesRelConfir {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.avaliacao-containerRelConfir .opcoesRelConfir {
  margin-top: 12px; /* Aumenta o espaço entre subtítulo e bolas */
  display: flex;
  gap: 35px; /* Aumenta o espaço entre as bolas */
  flex-wrap: wrap;
}

.bola-containerRelConfir {
  display: flex;
  align-items: center;
  gap: 10px;
}

.bolaRelConfir {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid white;
  cursor: pointer;
}

.bolaRelConfir.selecionada {
  background-color: white;
}

.numeroRelConfir, .textoRelConfir {
  font-size: 14px;
}

textareaRelConfir {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: #1c1c1c;
  color: white;
  margin-top: 10px;
}

textareaRelConfir::placeholder {
  color: white;
}

/* Estilo do contêiner "Atleta" + "Validar >" lado a lado */
.atleta-containerRelConfir {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Garante que o "Atleta" e o botão fiquem nas extremidades */
}

/* Estilo do botão "Validar >" ao lado do subtítulo "Atleta" */
.validar-buttonRelConfir {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px; /* Espaçamento entre o subtítulo e o botão */
  cursor: pointer;
}

.validar-buttonRelConfir:hover {
  text-decoration: underline;
}
